.background {
	background: lightblue;
}
.homepagetext {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
    padding-left: 6px;
    height: 35px;
    width: 140px;
    background-color: black;
    color: aqua;
}
.homepagebody {
	margin: 5px 430px ;
	padding-left: 0px;
}
.aboutustext {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
    padding-left: 6px;
    height: 35px;
    width: 145px;
    background-color: black;
    color: aqua;
}
.aboutusbody {
	margin: 2px 430px;
	padding-left: 0px;
}
.aboutuslinks {
	margin: 2px 430px;
	margin-top: 30px;		
	padding-left: 125px;
}
.resources {
	margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
    padding-left: 6px;
    height: 35px;
    width: 145px;
    background-color: black;
    color: aqua;
}
.resourcestext {
	margin: 2px 430px;
	margin-top: 30px;
	padding-left: 90px;
}
.footing { 
    margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
    padding-left: 6px;
	height: 39px;
    width: 493px;
    background-color: black;
    color: aqua;
}
.cl {
	margin: 2px 580px;
	margin-top: 30px;
	padding-left: 75px;
}